{% extends 'app/base.html' %}
{% load static %}

{% block title %}
change password
{% endblock %}
{% block main-content%}
<div class="container my-5">
    <div class="row">
        <h3> Welcome {{request.user.username|capfirst}}</h3><!--CAPFIRST == Secure page for customers.-->

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"> <a href="# " class="btn btn-dark">Change Password</a></li>

            </ul>

        </div>
        <div class="col-9 offset-1">
            <form action="" method="post" novalidate class="shadow p-5">
               {% csrf_token%}
               {% for fm in form %}
                   {{fm.label_tag}} {{fm}} <Small class="text-danger">{{fm.errors|striptags}}</Small>
                   <br>
              {% endfor%}
              <button type="submit" class="btn btn-dark">Submit</button>

              {% if form.non_field_errors %}
              {% for error in form.non_field_errors%}
                   <p class="alert alert-danger my-3">{{ error}}</p>
  
              {% endfor %}
              {% endif %}
            </form>

        </div>
    </div>

</div>

















{% endblock main-content%}