{% extends 'app/base.html' %}
{% load static %}

{% block title %}
 password change done
{% endblock %}
{% block main-content%}
<div class="container my-5">
    <div class="row">
        <h3> Welcome {{request.user.username|capfirst}}</h3>

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"> <a href="# " class="btn btn-dark">Password Change Done</a></li>
            </ul>
        </div>
        <div class="col-9 offset-1 text-center">
            <h3>Password Changed Successfully</h3>
            <div>
                <img src="https://giphy.com/gifs/The3Flamingos-love-it-hell-yes-clubhouse-emojis-F0oXzufWhA8MqWZgaF" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen>
            </div>

        </div>
    </div>

</div>
{% endblock main-content%}